NetCore1App/NetCore1App/bin/
NetCore1App/NetCore1App/obj/
NetCore1App/NetFramework461Lib/obj/
NetFramework461App/NetCore1Lib/bin/
NetFramework461App/NetCore1Lib/obj/
NetFramework461App/NetFramework461App/bin/
NetFramework461App/NetFramework461App/obj/
NetCore1AppSubstantial/NetCore1App/bin/
NetCore1AppSubstantial/NetCore1App/obj/
NetCore1AppSubstantial/NetFramework461LibSubstantial/obj/
NetCore1AppSubstantialFixed/NetCore1App/obj/
NetCore1AppSubstantialFixed/NetCore1Lib/obj/
